@use "../../../../../utils/global.scss" as *;

.CardComp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    margin: 0 0 2rem 0;

    width: 100%;
    height: 7.5rem;

    border-radius: 1rem;

    background-color: rgb(170, 170, 170);
    background: linear-gradient(to right, $secondaryColor 3.2rem, rgb(170, 170, 170) 3.2rem, rgb(170, 170, 170) calc(100% - 3.2rem), $secondaryColor calc(100% - 3.2rem));

h3 {
    font-size: 1.5rem;
    margin: 0;

}

p {
    margin: 0;
    padding: 0;
}

.value {
    font-size: 1.5rem;
    font-weight: 600;
}
}