@use "../../utils/global.scss" as *;

.loginPage {
main {
    display: flex;
    justify-content: center;
    
    margin: 1.5rem 0 0 0;
        
}
h1 {
    font-size: $headingSize;
    color: $primaryColor;
}
}