@use "../../utils/global.scss" as *;

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 3rem;

    background-color: rgb(51, 51, 51);

    nav {
        flex: 1;
    }

    .title {
        position: relative;
        left: 1rem;

        font-size: 1.9rem;
        font-weight: 600;

        color: $primaryColor
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 2rem;

        margin-top: .4rem;
    }

    .link {
        font-size: 2.2rem;
        color: $primaryColor;
        text-decoration: none;
    }
}