@use "../../utils/global.scss" as *;

.homePage {
main {
    display: flex;
    justify-content: center;

    padding: 1.5rem 0 0 0;
    
}
h1 {
    color: $primaryColor;
    font-size: $headingSize;
}
}