@use "../../utils/global.scss" as *;

.registerPage {
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1.5rem 0 0 0;
        
}

h1 {
    font-size: $headingSize;
    color: $primaryColor;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

input {
    height: 2rem;
    width: 24rem;

    border-radius: .6rem;

    background-color: rgb(235, 235, 235);

    font-size: 1.1rem;

    padding: .4rem;
    border: 0;
}

.submit {
    width: 24.8rem;
    height: 2.6rem;

    font-weight: 600;

    background-color: $primaryColor;
}

.submit:hover {
    background-color: $secondaryColor;
}

.submit:active {
    transform: scale(.98);
}
}